{% extends layouts/main.html %}

{% block title %}Home Page{% endblock %}

{% block content %}

<section class="content py-5">
    <div class="container">
        <div class="d-flex">
            <div class="p-2">
                <a href="/task/create" class="btn btn-warning">Add Task</a>
            </div>
            <div class="p-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sorted By: {{{ $sort_field ?: 'id' }}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% foreach($sort_fields as $field): %}
                            <a class="dropdown-item" href="?sort_field={{ $field }}&page={{ $page }}">
                                {{ $field }}
                            </a>
                        {% endforeach; %}
                    </div>
                </div>
            </div>
            <div class="ml-auto p-2">
                <ul class="pagination">
                    <li class="page-item {{ $page == 1 ? 'disabled' : '' }}">
                        <a class="page-link" href="?page={{{ $page - 1 }}}&sort_field={{ $sort_field }}">
                            Previous
                        </a>
                    </li>

                    {% for($i=1; $i <= $all_pages; $i++): %}
                    <li class="page-item {{ $page == $i ? 'disabled' : '' }}">
                        <a class="page-link" href="?page={{ $i }}&sort_field={{ $sort_field }}">
                            {{ $i }}
                        </a>
                    </li>
                    {% endfor; %}

                    <li class="page-item {{ $page == $all_pages ? 'disabled' : '' }}">
                        <a class="page-link" href="?page={{{ $page + 1 }}}&sort_field={{ $sort_field }}">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mb-4">
            {% foreach($tasks as $task): %}
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0 pointable" onclick="window.location.href = '/task/{{ $task->id }}'">
                    <div class="card-header">
                        <h5 class="card-title text-muted text-uppercase text-center">
                            {{{ $task->username }}}
                            {% if ($task->is_done): %}
                                <span class="badge badge-success">Done</span>
                            {% endif; %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center">
                            {{{ $task->email }}}
                        </h6>
                        <hr>
                        <p class="text-center text-muted">
                            {{{ $task->text }}}
                        </p>

                        {% if ( isset($user) ): %}
                            <a href="task/{{{ $task->id }}}/edit"
                               class="btn btn-block btn-rounded btn-warning text-uppercase"
                            >
                                Edit
                            </a>
                        {% endif; %}
                    </div>
                </div>
            </div>
            {% endforeach; %}
        </div>
    </div>
</section>
{% endblock %}