{% extends layouts/main.html %}

{% block title %}Task show{% endblock %}

{% block content %}
<section class="content pb-2 pt-4">
    <h1 class="text-center text-warning mb-2">Task #{{ $task->id }} details</h1>
    <div class="d-flex justify-content-center mt-3 mb-4">
        <div class="card p-4">
            <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">
                    {{{ $task->username }}}
                    {% if ($task->is_done): %}
                        <span class="badge badge-success">Done</span>
                    {% endif; %}
                </h5>
                <h6 class="card-title text-center">
                    {{{ $task->email }}}
                </h6>
                <hr>
                <p class="text-center text-muted">
                    {{{ $task->text }}}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}